/* skip */
#skip {display: none;}

/* header */
#header {
    font-family: 'NEXONLv1Gothic';
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 90px;
    z-index: 9999;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}