/* imgType */
body {
    background-color: #f3f3f3;
}

.imgType {
    margin: 150px 0;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

/* imgType01 */

.imgType01 {
    font-family: 'GmarketSans';
    padding: 100px 0;
}

.imgType01 h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 40px;
}

.imgType01 .img-wrap {
    overflow: hidden;
}

.imgType01 .img-wrap .img {
    position: relative;
    float: left;
    width: 590px;
    height: 385px;
}

.imgType01 .img-wrap .img:first-child {
    margin-right: 20px;
}

.imgType01 .img .img-cont {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #ffff;
}

.imgType01 .img-wrap .img .img-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 6px;
}

.imgType01 .img-wrap .img.img-desc {
    font-size: 14px;
    font-weight: 300px;
    line-height: 1.4;
    padding-right: 30%;
}

.imgType01 .img-wrap .img .img-btn.black {
    padding: 8px 18px;
    display: inline-block;
    background-color: #000;
    color: #fff;
    margin-top: 10px;
}

.imgType01 .img-wrap .img .img-btn a {
    color: #fff;
}

.imgType01 .img .img-cont.s2 {
    background-color: rgba(0, 0, 0, 0.4);
    width: 400px;
    padding: 15px;
}

.imgType01 .img .img-cont.s2 .img-desc {
    padding-right: 0;
    margin-bottom: 10px;
}

.imgType01 .img-wrap .img .img-cont.s2 .img-btn {
    padding: 0px;
    border-bottom: 1px solid #fff;
}

/* imgType02 */
.imgType02 {
    font-family: 'GmarketSans';
    padding: 100px 0;
}

.imgType02 h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 36px;
}

/*여백 초기화 시켜줘야해서 리셋가서 figure과 figcation 추가해야함 */
.imgType02 .img-wrap {
    display: flex;
    justify-content: space-between;
}

.imgType02 .image {
    width: 386px;
    position: relative;
}


.imgType02 .image .image-img {}

.imgType02 .image .image-cont {
    position: absolute;
    top: 50%;
    left: 30%;
    text-align: center;
}
.imgType02 .image .image-title {
    display: block;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
}
.imgType02 .image .image-btn {
    color:#000;
    padding: 5px 10px 5px 10px;
    background: rgb(255, 255, 255);
    border-radius: 40px;
    font-weight: 500;
}

/* imgType03 */
.imgType03 {
    font-family: 'GmarketSans';
    padding: 100px 0;
    line-height: 1.4;
}

.imgType03 h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 40px;
}

.imgType03 .img-wrap {
    display: grid;
    grid-template-columns: repeat(2, 590px);
    gap: 20px;
}

.imgType03 .img-wrap .img {
    width: 590px;
    height: 590px;
    justify-content: space-between;
    margin-right: 20px;
}

.imgType03 .img-wrap .img .img-big {
    position: relative;
}

.imgType03 .img-wrap .img .img-box1 {
    position: absolute;
    left: 18%;
    top: 80%;
    width: 375px;
    height: 110px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px 15px;
    color: #fff;
}

.imgType03 .img-wrap .img-box1 .img-title {
    display: block;
    font-size: 30px;
    font-weight: 800;
    font-style: normal;
    line-height: 1.5;
}

.imgType03 .img-wrap .img .img-box1 .img-desc {
    display: inline-block;
    font-size: 12px;
    font-weight: 300px;
}

.imgType03 .img-wrap .img .img-box1 .img-keyword a {
    display: block;
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    color: #fff;
}

.imgType03 .img-wrap .img .img-box2 div {
    height: 290px;
    position: relative;
    float: left;
    margin-bottom: 15px;
}

.imgType03 .img-wrap .img .img-box2 div:nth-child(2),
.imgType03 .img-wrap .img .img-box2 div:nth-child(4) {
    margin-left: 20px;
}

.imgType03 .img-wrap .img .img-box2 .img-title {
    display: block;
    position: absolute;
    left: 23%;
    top: 89%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 8px 15px 5px 15px;
    text-align: center;

}