/*  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'NanumSquare';
}

/* common */
.container {
    width: 1280px;
    margin: 0 auto;}

/* header */
#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    box-sizing: border-box;
    border-bottom: 1px solid #f2f2f2;
    background-color: #fff;
}

#header .img {
    background-repeat: no-repeat;
    width: 20%;
    height: 22px;
    display: block;
    background: url(../img/logo_whale.svg) no-repeat center;
}
#header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1220px;
    text-align: center;
    margin: 0 auto;
}
#header ul {
    width: 1220px;
} 
#header li {
    display: inline-block;
    width: 12%;
}

#header nav li a {
    color: #2d1d1d;
    font-size: 18px;
    font-weight: 500;
    line-height: 80px;
    width: 12%;
    text-align: center;
    padding: 20px 20px 20px 40px;
}

#header .member {
    padding: 40px;
    margin-right: 5%;
}

#header .member a {   
    position: absolute;
    top: 20px;
    right: 10%;
    width: 125px;
    height: 50px;
    color: #15c5aa;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #15c5aa;
    border-radius: 5px;
    transition: all 0.3s;
}

#header .member a:hover {
    background-color: #12ca8f;
    color: #fff;
}

/* header-bar */
.tabwrap{
    margin-top: 80px;
}

.tabwrap {
    display: inline-block;
    background: #333;
    color: #fff;
    width: 100%;
    text-align: center;
}
.header_bar li {
    display: inline-block;
    width: 20%;
    text-align: center;
    height: 60px;
}
.header_bar li:nth-child(1) a{
    color: #05d6b4;
}
.header_bar li:nth-child(2) {
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}

.header_bar li a {
    display: inline-block;
    color: #838383;
    font-size: 15px;
    font-weight: 400;
    padding: 20px 30px;
    cursor: pointer;
    background-position: bottom 24px left;
    background-size: 20px auto;
    background-repeat: no-repeat;
}
.header_bar li:nth-child(1) a {
    background-position: top 23px left;
    background-size: 20px auto;
    background-image: url(https://whale.naver.com/_resource/img/whywhale/top_check.png);
}
.header_bar li:nth-child(2) a {
    background-image: url(https://whale.naver.com/_resource/img/whywhale/top_check_2.png);
}
.header_bar li:nth-child(3) a {
    background-image: url(https://whale.naver.com/_resource/img/whywhale/top_check_2.png);
}

/* banner */
#banner {
    background-image: url(../img/top_tasking_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 75vh;
}
#banner .container h2 {
    padding: 150px 0 0;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

#banner .container p {
    padding: 30px 0 ;
    font-size: 25px;
    color: #fff;
}

#banner .container .banner-btn {
    width: 200px;
    font-size: 24px;
    border-radius: 32px;
    height: 64px;
    line-height: 64px;
    margin-top: 30px;
}

.banner-btn a {
    display: inline-block;
    width: 230px;
    text-align: center;
    font-size: 28px;
    color: #fff;
    border-radius: 45px;
    height: 70px;
    line-height: 70px;
    position: relative;
    background: #05d6b4;
}
.banner-btn a::after{
    content: "";
    display: inline-block;
    width: 30px;
    height: 77px;
    background: url(https://whale.naver.com/_resource/img/main/icon_btn_arrow.png) 50% 50% no-repeat;
    background-size: 100%;
    margin-left: 18px;
    vertical-align: top;
}

/* cardType */
.cardType:nth-child(even) {
    background-color: #ecedf1;
}

.card-left{
    display: table-cell;
    vertical-align: middle;
}

.cardType:nth-child(odd) .card-left {
    padding-left: 5%;
}

.card-left h3{
    height: 70px;
    line-height: 70px;
    padding-left: 80px;
    font-size: 40px;
    color: #000;
    font-weight: bold;
    position: relative;
}
.card-left h3:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "";
    clear: both;
    width: 70px;
    height: 70px;
    background-size: 100%;
}
#cardType01 .card-left h3:before {
    background: url(https://whale.naver.com/_resource/img/whywhale/icon_why_tab1_05.png) no-repeat top center;
}
#cardType02 .card-left h3:before {
    background: url(https://whale.naver.com/_resource/img/whywhale/icon_why_tab1_01.png) no-repeat top center;
}
#cardType03 .card-left h3:before {
    background: url(https://whale.naver.com/_resource/img/whywhale/icon_why_tab1_02.png) no-repeat top center;
}
#cardType04 .card-left h3:before {
    background: url(	https://whale.naver.com/_resource/img/whywhale/icon_why_tab1_03.png) no-repeat top center;
}
#cardType05 .card-left h3:before {
    background: url(https://whale.naver.com/_resource/img/whywhale/icon_why_tab1_04.png) no-repeat top center;
}
.card-left h4{
    color: #333130;
    font-size: 23px;
    font-weight: 400;
    margin: 30px 0 50px;
}
.card-left p{
    display: block;
    color: #2d68d2;
    line-height: 20px;
    font-size: 18px;
    padding-left: 40px;
    position: relative;
    margin-top: 20px;
}
.card-left p::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "";
    clear: both;
    width: 20px;
    height: 20px;
    background: url(https://whale.naver.com/_resource/img/whywhale/icon_function_detailgo.png) no-repeat top center;
    background-size: 100%;
}
.card-left .btnPc{
    background: url(https://whale.naver.com/_resource/img/whywhale/icon_pc.png) no-repeat bottom center;
    background-size: 100%;
    width: 118px;
    height: 76px;
    display: inline-block;
    margin-top: 20px;
}
.card-left .btnM {
    background: url(https://whale.naver.com/_resource/img/whywhale/icon_m.png) no-repeat bottom center;
    background-size: 100%;
    width: 100%;
    width: 118px;
    height: 76px;
    display: inline-block;
}
.card-right {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}
.card-right img {
    display: block;
    width: 100%;
}

.cardType .container {
    display: table;
    height: 670px;
    max-width: 1280px;
    width: 100%;
}

/* footer-banner */
.footer-banner{ 
    width: 100%;
    background-color: #fff;
    padding: 10% 0;
    text-align: center;
}
.footer-banner .img_www {
    display: block;
    max-width: 560px;
    margin: 0 auto;
}
.footer-banner .banner-btn{
    margin-top: 20px;
}
/* footer */
.footer{
    padding: 50px 0;
    width: 100%;
    text-align: center;
    background-color: #f9f9f9;
}
.footer .container .img {
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    height: 15px;
    display: block;
    background: url(../img/logo_whale_gray.svg) no-repeat center;
    margin-bottom: 20px;
}
.footer .container li{
    display: inline-block;
    position: relative;
    margin: 10px 20px 0;
    text-align: center;
}
.footer .container li a{
    font-size: 13px;
    font-weight: 500;
    color: #c0c0c0;
    font-weight: 300;
}
.footer .container li a::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -21px;
    width: 1px;
    height: 18px;
    background: #dadada;
}
.footer .container li:last-child a::after{
    display: none;
}