@font-face {
    font-family: 'Eros Romano';
    src: url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/ErosRomanoRegular.eot');
    src: url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/ErosRomanoRegular.eot?#iefix') format('embedded-opentype'),
        url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/ErosRomanoRegular.woff2') format('woff2'),
        url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/ErosRomanoRegular.woff') format('woff'),
        url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/ErosRomanoRegular.eotErosRomanoRegular.svg#ErosRomanoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ChosunSm';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.1/ChosunSm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chomsky';
    src: url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/Chomsky.woff') format('woff'),
        url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/Chomsky.svg#Chomsky') format('svg'),
        url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/Chomsky.eot'),
        url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/Chomsky.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Theramy';
    src: url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/TheramyRegular.eot');
    src: url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/TheramyRegular.eot?#iefix') format('embedded-opentype'),
        url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/TheramyRegular.woff2') format('woff2'),
        url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/TheramyRegular.woff') format('woff'),
        url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/TheramyRegular.svg#TheramyRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

/* layout */
body {
    background: #D8D1C8;
}

body.mac.chrome .sec2 h1 {
    line-height: 0.9;
    padding-bottom: 2%;
    font-family: 'Eros Romano';
    text-align: center;
}

body.mac.chrome .sec3 .title h2 {
    line-height: 0.9;
    padding-bottom: 2%;
    font-family: 'Eros Romano';
    text-align: center;
}

#contents {}

#section1 {}

#section2 {}

#section3 {}

#section4 {}

#section5 {}

#section6 {}

#section7 {}

#section8 {}

/* container */
.container {
    width: 90%;
    max-width: 1760px;
    margin: 0 auto;
}

/* font */
.eros {
    font-family: 'Eros Romano' !important;
    font-size: 60px;
}

.ch {
    font-family: 'ChosunSm' !important;
    font-size: 16px;
    text-align: justify;
}

.tr {
    font-family: 'Theramy' !important;
    font-size: 80px;
    text-align: center;
}

/* layout */
.border {
    border: 1px solid #000;
}

.borderSt2 {
    border: 2px solid #000;
}


.flex {
    display: flex;
    justify-content: space-between;
}

.flexCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* btn */
.btn {
    border: 1px solid #000;
    border-radius: 50%;
    padding: 1vw 0;
    align-items: center;
    background: rgba(230, 230, 230, 0.322);
}

/* line */
.lineRight,
.lineLeft,
.lineTop,
.lineBom {
    position: relative;
}

.lineRight::after {
    content: '';
    width: 1px;
    height: 100%;
    background: #000;
    position: absolute;
    right: -1.4%;
    top: 0;
}

.lineLeft::before {
    content: '';
    width: 1px;
    height: 100%;
    background: #000;
    position: absolute;
    left: -1.4%;
    top: 0;
}

.lineTop::before {
    content: '';
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    left: 0;
    top: -8%;
}

.lineBom::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: -8%;
}

/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    width: 100%;
    height: 68px;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    box-sizing: border-box;
    background: #D8D1C8;
}

#header>div {
    flex: 0 0 10%;
}

#header>div.info {
    font-family: 'ChosunSm';
    font-size: 14px;
    line-height: 1.4;
}

#header>div.title {
    text-align: center;
    flex: 0 0 20%;
    font-family: 'Chomsky';
    font-size: 30px;
}

#header>div.ham {
    text-align: right;
}

#header>div.ham span {
    width: 20px;
    height: 2px;
    background: #000;
    display: inline-block;
    position: relative;
    top: -4px;
}

#header>div.ham span::after {
    content: '';
    width: 20px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    top: -6px;
}

#header>div.ham span::before {
    content: '';
    width: 20px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: -6px;
}

/* sec1 */
.sec1 {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.sec1>div {
    flex: 0 0 32%;
}

.sec1>div img {
    border: 1px solid #000;
}

.sec1>div h2 {
    font-family: 'Theramy';
    font-size: 80px;
    line-height: 1;
    text-align: center;
    margin-bottom: 10px;
}

.sec1>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sec1>div h3 {
    font-family: 'Theramy';
    font-size: 40px;
    line-height: 1;
    padding-top: 15px;
    padding-bottom: 5px;
}

.sec1>div p {
    font-family: 'ChosunSm';
    font-size: 16px;
}

/* sec2 */
.sec2 {
    margin-top: 2%;
    margin-bottom: 2%;
}

.sec2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sec2 h1 {
    width: 100%;
    background: #000;
    color: #D8D1C8;
    font-size: 26vmax;
    line-height: .8;
    font-family: 'Eros Romano';
    text-align: center;
    margin-bottom: 2%;
}

.sec2 .left {
    width: 29%;
}

.sec2 .left h2 {
    margin-top: -.54vw;
    margin-bottom: .54vw;
    line-height: .91;
}

.sec2 .left p {
    margin-top: .54vw;
    text-align: justify;
    margin-bottom: .8vw;
}

.sec2 .right {
    width: 69%;
}

.sec2 .right h2 {
    margin-top: .54vw;
    margin-bottom: .54vw;
    line-height: .91;
}

.sec3 .title {
    display: flex;
    justify-content: space-between;
}

.sec3 .title h2 {
    width: 80%;
    background: #ccc;
    background: #000;
    color: #D8D1C8;
    font-size: 20vmax;
    line-height: .8;
    font-family: 'Eros Romano';
    text-align: center;
    white-space: nowrap;
}

.sec3 .title .small {
    width: 18%;
    background: rgb(144, 144, 144);
}

.sec3 .layout {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.sec3 .layout .contLeft {
    justify-content: space-between;
    width: 58%;
}

.sec3 .layout .contRight {
    width: 40%;
}

.sec3 .layout .contLeft .txtAbout {
    height: 32%;
}

.sec3 .layout .contLeft .txtAbout.Image {
    height: 65%;
}

.sec3 .layout .contLeft .txtAbout .txtDetail {
    width: 48%;
}

.sec3 .layout .contLeft .txtDetail h2 {
    margin-top: 0.54vw;
    margin-bottom: 0.54vw;
    line-height: .91;
}

.sec3 .layout .contLeft img {
    height: 100%;
    border: 1px solid #000;
}

.sec3 .layout .contRight h2 {
    margin-top: 0.54vw;
    margin-bottom: 0.54vw;
    line-height: .91;
    font-size: 100px;
    text-align: right;
}

.sec3 .layout .contRight p {
    margin-bottom: 2vw;
}


/* sec4 */
.sec4 {
    margin-top: 2%;
    padding-top: 2%;
    border-top: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec4 .left {
    width: 30%;
    height: 100%;
}


.sec4 .right {
    width: 68%;
    height: 100%;
    vertical-align: bottom;
    text-align: right;
    line-height: 0.8;
    font-size: 15vw;
}

.sec4-2 {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2%;
    border-bottom: 1px solid #000;
}

.sec4-2 .left {
    width: 49%;
}

.sec4-2 .right {
    width: 49%;
}


/* sec5 */

.bild.border {
    margin-top: 2%;
    width: 100%;
}

#section5 h2 {
    margin-top: 0.54vw;
    margin-bottom: 0.54vw;
    line-height: .91;
    font-size: 60px;
}

.sec5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2%;
}

.sec5 .left {
    width: 49%;
}

.sec5 .right {
    width: 49%;
}

.sec5 .right em {
    background: #000;
    color: #D8D1C8;
    font-size: 1vw;
    padding: 1.2px;
}

/* section6 */
.sec6 {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
    border-bottom: 2px solid #000;
}

.sec6 .img {
    width: 60%;
    align-items: start;
}

.sec6 .desc {
    width: 38%;
}

.sec6 .desc h2 {
    height: 12%;
    font-size: 5.5vw;
    line-height: 0.7;
}

.sec6 .desc p:first-of-type {
    height: 32%;
}

.sec6 .desc .keyword {
    height: 14%;
    padding: 1% 0 1% 2%;
    background: #c9bcaa;
}

.sec6 .desc .keyword strong {
    font-size: 25px;
}

.sec6 .desc .keyword p {
    color: #8c6c3e;
}

.sec6 .desc .box {
    height: 28%;
    display: flex;
    justify-content: space-between;

}

.sec6 .desc .box .left {
    width: 58%;
    padding: 2%;
}

.sec6 .desc .box .right {
    width: 38%;
    padding: 2%;
}

.sec6 .desc .box .boxInner {
    width: 100%;
    height: 100%;

}

.sec6 .desc .box .left .boxInner {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 4% 0 4% 4%;
}

.sec6 .desc .box .right .boxInner {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 4% 0 4% 4%;
}

.sec6 .desc .left .boxInner img {
    width: 25%;
    position: absolute;
    top: 3%;
    right: 3%;
}

.sec6 .desc .right .boxInner img {
    position: absolute;
    width: 60%;
    right: 0;
    bottom: 0;
}

.sec6 .desc .boxInner h3.tr {
    text-align: left;
}

.sec6 .desc .boxInner h3 {
    font-size: 30px;
    line-height: 1;
}

.sec6 .desc .right .boxInner h3 {
    font-size: 33px;
    line-height: 1.2;
}

.sec6 .desc .left .boxInner p {
    font-size: 13px;
    line-height: 2;
}

.sec7 {
    border-top: 1px solid #000;
    margin: 1% 0;
    padding: 1% 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sec7 h2 {
    font-size: 180px;
    line-height: 0.7;
    padding-bottom: 1.54vw;
    text-align: left;
    border-bottom: 1px solid #000;
}

.sec7 .left {
    width: 30%;
    text-align: center;
    position: sticky;
    top: 80px;
}

.sec7 .left .cont {
    width: 100%;
    height: 85%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
}

.sec7 .left .imgBox img {
    padding: 10%;
}

.sec7 .left .imgBox p.ch {
    text-align: center;
}

.sec7 .left h3 {
    font-size: 150px;
}

.sec7 .right {
    width: 68%;
}

.sec7 .right .scriptImg img {
    margin-top: 2%;
}


/* section8 */
.sec8 {
    position: relative;
}

.sec8 .title {
    height: 250px;
    margin-top: 2%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    position: relative;
}

.sec8 .title h2 {
    font-size: 300px;
    line-height: 0.7;
    padding-bottom: 1.54vw;
    float: left;
}

.sec8 .title .btnSM {
    border: 1px solid #000;
    border-radius: 50%;
    float: right;
    position: absolute;
    right: 30px;
    top: 50px;
}

.sec8 .title .btnSM a {
    font-size: 100px;
    padding: 0 50px;
}

.line-title {
    position: relative;
    width: 400px;
}

.line-title::before,
.line-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 2px;
}

.line-title::before {
    width: 100%;
    background: #f2f2f2;
}

.line-title::after {
    width: 32px;
    background: #e73700;
}

.game-section {
    padding: 60px 50px;
    width: 100%;
    overflow: hidden;
}

.game-section .owl-stage {
    margin: 15px 0;
    display: flex;
}

.game-section .item {
    margin: 0 15px 60px;
    width: 320px;
    height: 400px;
    display: flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.game-section .item iframe {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
}

.game-section .item.active {
    width: 500px;
    box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}

.game-section .item:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.game-section .item-desc {
    padding: 0 24px 12px;
    color: #000;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform: translateY(calc(100% - 54px));
    -webkit-transform: translateY(calc(100% - 54px));
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.game-section .item-desc h3 {
    font-size: 40px;
}

.game-section .item.active .item-desc {
    transform: none;
    -webkit-transform: none;
}

.game-section .item-desc p {
    opacity: 0;
    -webkit-transform: translateY(32px);
    transform: translateY(32px);
    transition: all 0.4s ease-in-out 0.2s;
    -webkit-transition: all 0.4s ease-in-out 0.2s;
}

.game-section .item.active .item-desc p {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.game-section .owl-nav {
    display: none;
}

.game-section .owl-dots {
    display: none;
}

/* section9 */
.sec9 .title {
    background: #000;
}

.sec9 .title h2 {
    width: 80%;
    color: #D8D1C8;
    font-size: 20vmax;
    line-height: .8;
    text-align: center;
    white-space: nowrap;
}

.sec9 .cont {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 4%;
    width: 100%;
    height: 600px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
}

.sec9 .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 46%;
}

.sec9 .line {
    width: 1px;
    height: 100%;
    background: #000;
}

.sec9 .right {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sec9 .left img {
    width: 50%;
    height: 56%;
}

.sec9 .left h3 {
    width: 100%;
    height: 18%;
    font-size: 30px;
    text-align: center;
    position: relative;
}

.sec9 .left h3::before {
    content: '⌜';
    position: absolute;
    top: -13px;
    left: 0;
}

.sec9 .left h3::after {
    content: '⌟';
    position: absolute;
    top: 62px;
    right: 0;
}

.sec9 .left p {
    height: 18%;
}

.sec9 .right img {
    width: 100%;
    height: 35%;
}

.sec9 .right .eros {
    font-size: 20px;
}

.sec9 .right .inputBox {
    background: transparent;
    height: 8%;
    border: none;
    border-bottom: 1px solid #000;
}

.sec9 .right .contentBox {
    background: transparent;
    height: 30%;
}

.sec9 .right .btn2 {
    background: transparent;
    width: 20%;
    height: 8%;
}

/* footer */
#footer {
    height: 100px;
}

.carouselWrap {
    height: 100px;
    overflow: hidden;
    background: #000;
    color: #D8D1C8;
    align-items: center;
}

.scroll {
    display: flex;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;


}

.scroll:hover {
    animation-play-state: paused;
}

.part {
    display: flex;
    position: relative;
}

.box {
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 4vw;
    font-family: 'Eros Romano'
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* responsive devices */

@media (max-width: 1600px) {
    .sec2 .left p:first-of-type {
        display: none;
    }

    .sec2 .right h2 {
        padding-top: 2%;
        font-size: 3vw;
    }

    .sec2 .right h2 {
        display: none;
    }

    .sec2 .right img {
        height: 100%;
    }

    .sec2 .right p {
        display: none;
    }

    /* section3 */
    .sec3 .layout {
        display: inline-block;
    }

    .sec3 .layout .contLeft.flexCol {
        display: inline;
        width: 50%;
    }

    .sec3 .layout .contLeft .txtAbout.flex {
        display: none;
    }

    .sec3 .layout .contLeft .txtAbout.Image {
        width: 50%;
        float: left;
    }

    .sec3 .layout .contRight {
        width: 100%;
        display: block;

    }

    .sec3 .layout .contRight h2 {
        margin-top: 2%;
        font-size: 6.8vw;
    }

    .sec6 .desc h2 {
        height: 16%;
        font-size: 85px;
    }

    .sec6 .desc p:first-of-type {
        height: 48%;
    }

    .sec6 .keyword {
        display: none;
    }

    .sec6 .desc .box {
        height: 35%;
    }

    .sec6 .desc .boxInner h3 {
        font-size: 35px;
    }

    .sec6 .desc .boxInner p {
        font-size: 14px;
        padding-top: 2%;
    }

    .sec7 h2 {
        font-size: 160px;
        padding-bottom: 1.7vw;
    }

    .sec8 .title h2 {
        font-size: 20vw;
    }
}

@media (max-width: 1440px) {
    .sec2 h1 {
        font-size: 23vmax;
    }

    .sec2 .left h2 {
        display: none;
    }

    .sec2 .right h2 {
        display: none;
    }

    .sec3 .btn {
        display: none;
    }

    .sec6 .desc h2 {
        height: 20%;
        font-size: 82px;
    }

    .sec6 .desc p:first-of-type {
        height: 61%;
        margin-bottom: 2%;
    }

    .sec6 .desc .keyword {
        display: block;
        height: 19%;
    }

    .sec6 .desc .box {
        display: none;
    }

    .sec7 h2 {
        font-size: 140px;
        padding-bottom: 1.7vw;
    }

    .sec8 .title h2 {
        font-size: 18vw;
    }
}

@media (max-width: 1260px) {
    #header>div.info {
        font-size: 13px;
    }

    #header>div.title {
        font-size: 22px;
    }

    .sec1>div h3 {
        font-size: 36px;
    }

    .sec2 h1 {
        font-size: 20vmax;
    }

    .sec2 .left h2 {
        display: none;
    }

    .sec2 .right h2 {
        display: none;
    }

    .sec3 .title h2 {
        font-size: 17vmax;
    }

    .sec5 .right em {
        padding: 1px 4px;
        font-size: 2vw;
    }

    .sec6 {
        display: block;
    }

    .sec6 .img {
        width: 100%;
    }

    .sec6 .desc {
        width: 100%;
    }

    .sec6 .desc .box {
        margin-top: 2%;
    }

    .sec6 .desc.flexCol {
        width: 100%;
    }

    .sec6 .desc.flexCol h2 {
        margin-top: 0.54vw;
        margin-bottom: 0.54vw;
        line-height: .91;
    }

    .sec6 .desc .right .boxInner img {
        width: 38%;
    }

    .sec6.odd {
        display: flex;
        flex-direction: column;
    }

    .sec6.odd .desc {
        order: 2;
    }

    .sec6.odd .img {
        order: 1;
    }
}

@media (max-width: 960px) {
    #header>div.info {
        font-size: 12px;
    }

    .container {
        width: 96%;
    }

    .sec1 {
        flex-direction: column;
    }

    .sec1>div {
        flex: 0 0 100%;
    }

    .sec1>div img {
        margin-top: 10px;
    }

    .sec1>div p:last-of-type {
        margin-bottom: 0;
    }

    .sec1>div:nth-child(1) {
        display: none;
    }

    .sec1>div p {
        margin-bottom: 40px;
    }

    .sec1>div:nth-child(2).lineRight::after {
        width: 0;
        height: 0;
    }

    .sec1>div:nth-child(2).lineRight::before {
        width: 0;
        height: 0;
    }


    .sec2 h1 {
        font-size: 18vmax;
    }

    .sec2 .left {
        flex: 0 0 100%;
    }

    .sec2 .left p {
        display: block;
    }

    .sec2 .right img {
        display: none;
    }

    .sec3 .title h2 {
        font-size: 15vmax;
    }

    .sec3 .layout .contLeft img {
        display: none;
    }

    .sec3 .layout .contRight h2 br {
        display: none;
    }

    .sec4 .left {
        width: 40%;
    }

    .sec4 .right {
        width: 58%;
    }

    .sec4-2 {
        display: block;
    }

    .sec4-2 .left {
        width: 100%;
    }

    .sec4-2 .left {
        width: 100%;
        padding-top: 1%;
    }

    .sec4-2 .right {
        width: 100%;
    }

    #section5 .container h2 {
        font-size: 50px;
    }

    .sec5 {
        display: block;
    }

    .sec5 .left {
        display: none;
    }

    .sec5 .right {
        width: 100%;
    }

    .sec5 .right em {
        padding: 1px 4px;
        font-size: 2vw;
    }

    .sec6 .desc .keyword {
        display: block;
        padding: 2%;
    }

    .sec6 .desc .box {
        display: none;
    }
}

@media (max-width: 800px) {
    #header>div.info {
        font-size: 9px;
    }

    #header>div.title {
        font-size: 18px;
    }

    .sec2 h1 {
        font-size: 17vmax;
    }

    .sec3 .title h2 {
        font-size: 10vmax;
    }

    .sec3 .btn {
        display: block;
    }
}

@media (max-width: 610px) {
    #header {
        height: 40px;
    }

    #header>div.info {
        display: none;
    }

    #header>div.ham {
        display: none;
    }

    #header>div.title {
        width: 100%;
        margin: 0 auto;
        font-size: 15px;
    }

    .sec1>div h2 {
        font-size: 55px;
    }

    .sec2 h1 {
        font-size: 13vmax;
    }

    .sec3 .title h2 {
        font-size: 13vmax;
    }

    .sec3 .btn {
        margin-top: 3%;
    }

    .sec3 .btn .tr {
        font-size: 35px;
    }

    .sec4 .right {
        font-size: 18vw;
    }

    .sec4-2 .left {
        display: none;
    }

    .sec4-2 .right {
        width: 100%;
    }

    #section5 .container h2 {
        font-size: 34px;
    }

    .sec5 .right em {
        padding: 1px 4px;
        font-size: 3vw;
    }
}

@media (max-width: 415px) {
    #header>div.title {
        line-height: 1;
        font-size: 11px;
    }

    .sec1>div h2 {
        font-size: 40px;
    }

    .sec1>div h3 {
        font-size: 32px;
    }

    .sec2 h1 {
        font-size: 10vmax;
        line-height: 0.8;
    }

    .sec3 .title .small {
        display: none;
    }

    .sec3 .title h2 {
        flex: 0 0 100%;
        line-height: 0.8;
    }

    .sec3 .layout .contRight h2 {
        font-size: 37px;
        text-align: center;
        margin-top: 0;
    }

    .sec3 .layout .contRight p {
        display: none;
    }

    .sec3 .btn {
        margin-top: 3%;
    }

    .sec3 .btn .tr {
        font-size: 25px;
    }

    #section5 .container h2 {
        font-size: 37px;
        padding-top: 1%;
        line-height: 0.8;
    }

    .sec5 .right em {
        padding: 1px 4px;
        font-size: 5vw;
    }

}

@media (max-width: 325px) {
    #header>div.title {
        line-height: 1;
        font-size: 11px;
    }

    .sec1>div h2 {
        font-size: 35px;
    }

    .sec1>div h3 {
        font-size: 25px;
    }

    .sec2 h1 {
        font-size: 6.5vmax;
        line-height: 1;
    }

    .sec3 .title h2 {
        font-size: 8vmax;
        line-height: 1;
    }

    .sec5 .right em {
        padding: 1px 4px;
        font-size: 6vw;
    }

}