@font-face {
  font-family: 'ChosunSm';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.1/ChosunSm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#contents {
  width: 90vw;
  margin: 0 auto;
}

.container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 3vh;
}

/* header */
#header {
  display: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: #000;
  align-items: center;
  border-bottom: 0.1vw solid #3f3f3f;
  height: 8vh;
}

.header_left {
  flex: 25%;
  padding: 0 0 0 2.5vw;
}

.header_center {
  font-family: 'Chomsky';
  flex: 40%;
  font-size: 2vw;
  line-height: 1.5;
}

.header_ham {
  position: absolute;
  flex: 25%;
  right: 1.5vw;
  top: 1.5vh;
  width: 2vw;
  height: 0.5vh;
}

.header_ham::before {
  content: '';
  position: absolute;
  right: 1.5vw;
  top: 1.5vh;
  width: 1.5vw;
  height: 0.2vh;
  background: #000;
  box-shadow: 0 1vh 0 #000;
}

/* section */
#section1 {
  width: 100%;
  margin: 0 auto;
  color: #3f3f3f;
}

#section3 {}

#section4 {}

#section5 {}

#section6 {}

#section7 {
  margin-top: 3vw;
  border-top: 0.2vw solid #000;
}

#section8 {
  border-top: 0.2vw solid #000;
  border-bottom: 0.2vw solid #000;
}

#section9 {
  width: 100%;
}

/* sec1 */
.sec1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vh;
  width: 100%;
  padding-bottom: 3vh;
}

.sec1 img {
  width: 100%;
}

.sec1 h2 {
  font-family: 'Theramy';
  padding-top: 2vh;
  font-size: 2vw;
  font-weight: normal;
  color: #000;
}

.sec1 p {
  color: #3f3f3f;
  letter-spacing: -1;
  line-height: 1.4;
  text-align: justify;
}

.sec1_left {
  flex: 0 0 35%;
  padding-right: 1.5vw;
  border-right: 1px solid #000;

}

.sec1_center {
  flex: 0 0 30%;
  text-align: center;
}

.sec1_center h1 {
  font-size: 4vw;
  font-family: 'Theramy';
  color: #000;
}

.sec1_center p {
  padding-top: 1vh;
  text-align: center;

}

.sec1_right {
  flex: 0 0 35%;
  padding-left: 1.5vw;
  border-left: 1px solid #000;
}

.sec1_2 {
  width: 100%;
  background-color: #000;
  margin-bottom: 3vh;
}

.sec1_2 h1 {
  color: #D8D1C8;
  text-align: center;
  font-weight: normal;
  font-size: 23vw;
  letter-spacing: 1.2vw;
  font-family: 'Eros Romano';
}

/* sec 2 */
#section2 img {
  width: 100%;
}

#section2 p {
  padding-top: 3vh;
  line-height: 1.4;
  text-align: justify;
}

.sec2 {
  flex: 0 0 37%;
  padding-right: 2vw;
  border-right: 1px solid #000;
}

.sec2 h2 {
  font-family: 'Eros Romano';
  font-size: 5vw;
  letter-spacing: -0.1vw;
  font-style: normal;
  font-weight: normal;
  color: #000;
  padding-bottom: 3vh;
}

.sec2_2 {
  flex: 0 0 63%;
  padding-left: 2vw;

}

.sec2_2 h2 {
  padding-top: 3vh;
  font-family: 'Eros Romano';
  font-size: 5vw;
  letter-spacing: -0.3vw;
  font-style: normal;
  font-weight: normal;
  color: #000;
}

.sec2_3 {
  display: flex;
  width: 100vw;
  height: 35vh;
  padding-top: 3vh;
}

.sec2_3 h1 {
  flex: 0 0 80%;
  background: #000;
  color: #D8D1C8;
  font-family: 'Eros Romano';
  font-size: 17vw;
  letter-spacing: -0.3vw;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  line-height: 0.8;
  margin-right: 1vw;
}

.sec2_3 img {
  flex: 0 0 19%;
}

/* sec3 */
#section3 .container {
  margin-top: 2vw;
}

.sec3 {
  flex: 0 0 60%;
  padding-right: 1vw;
}

.sec3.top {
  display: flex;
  margin-bottom: 3vh;
}

.sec3.top .left {
  flex: 0 0 50%;
  padding-right: 2vw;
  border-right: 1px solid #000;
}

.sec3.top .left h3 {
  font-size: 3.5vw;
}

.sec3.top .left p {
  padding-top: 3vh;
  line-height: 1.3vw;
}

.sec3.top .right {
  flex: 0 0 50%;
  padding-left: 2vw;
}

.sec3.top .right img {
  width: 100%;
  height: 45vh;
}

.sec3.bottom {}

.sec3.bottom img {
  width: 100%;
}

.sec3_2 {
  flex: 0 0 40%;
  padding-left: 2vw;
  border-left: 1px solid #000;
}


.sec3_2 h1 {
  text-align: right;
  font-size: 5vw;
  line-height: 4.1vw;
  padding-bottom: 2vw;
}

.sec3_2 p {
  line-height: 1.7vw;
}

.sec3_2 .btn {
  margin-top: 7vh;
  font-size: 4vw;
  line-height: 2.5;
}

/* section4 */

.sec4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec4 img {
  width: 30vw;
  border: none;
}

.sec4 h1 {
  padding-left: 6vw;
  padding-top: 8vh;
  font-size: 18vw;
  text-align: right;
  position: relative;

}

.sec4 h1::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  border-bottom: 1px solid #000;
}

.sec4_2 {
  flex: 0 0 50%;
  padding-right: 2vw;
  line-height: 1.7vw;
  border-right: 1px solid #000;
}

.sec4_3 {
  flex: 0 0 50%;
  padding-left: 2vw;
  line-height: 1.7vw;
}

/* section5 */
.sec5 {
  margin-top: 2vh;
}

.sec5 img {
  width: 100%;
}

.sec5 h2 {
  padding-top: 3vh;
  font-size: 4vw;
}

/* section6 */
/* odd */
.sec6.odd {
  display: flex;
}

.sec6.odd img {
  width: 55vw;
}

.sec6.odd .right {
  margin-left: 3vw;
}

.sec6.odd .right h2 {
  font-size: 4vw;
  padding-bottom: 2vh;
}

.sec6.odd .right p {
  line-height: 1.7vw;
  padding-bottom: 2vh;
}

.sec6.odd .right .box.st1 {
  padding: 1vw;
}

.sec6.odd .right .box.st1 strong {
  font-size: 1.3vw;
}

.sec6.odd .right .box.st1 p {
  padding-top: 0.5vh;
  color: #957F5F;
}

/* even */
.sec6.even {
  display: flex;
}

.sec6.even img {
  width: 55vw;
}

.sec6.even .left {
  margin-right: 3vw;
}

.sec6.even .left h2 {
  font-size: 4vw;
  padding-bottom: 2vh;
}

.sec6.even .left p {
  line-height: 1.7vw;
  padding-bottom: 2vh;
}

.sec6.even .left .box.st1 {
  padding: 1vw;
}

.sec6.even .lef .box.st1 strong {
  font-size: 1.3vw;
}

.sec6.even .left .box.st1 p {
  padding-top: 0.5vh;
  color: #957F5F;
}

/* box outline */
.box.st2 .outline img {
  width: 4vw;
  position: absolute;
  border: 0px;
  top: 0.4vw;
  right: 0.4vw;
}

.box.st2 .outline h2 {
  font-size: 2vw;
  font-family: 'Theramy';
  letter-spacing: 0.1vw;
  padding: 0.5vw 0 0 0.5vw;
}

.box.st2 .outline h3 {
  font-size: 1.6vw;
  padding-left: 2vw;
}

.box.st2 .outline h4 {
  font-size: 1.6vw;
  padding-left: 3vw;
}

.box.st2 .outline p {
  padding-top: 0.5vw;
  padding-left: 0.5vw;
  font-size: 0.5vw;
}

.box.st3 .outline {
  display: flex;
  position: relative;
}

.box.st3 .outline h2 {
  font-size: 2.7vw;
  padding: 0.3vw 1vw;
}

.box.st3 .outline img {
  width: 7vw;
  position: absolute;
  border: 0px;
  bottom: 0;
  right: 0;
}

/* section7 */
#section7 .container:first-child {
  border-top: 1px solid #000;
  margin-bottom: 20vw;
}

#section7 .container {
  margin-bottom: 20vw;
}

.sec7 {
  flex: 20%;
  margin-right: 2vw;
  height: 80vh;
}

#section7 .title h2 {
  padding-bottom: 1vw;
  font-size: 10vw;
  font-family: 'Eros Romano';
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid #000;
}

.sec7 .header.cont {
  padding: 2vw;
  margin: 0 auto;
}

.sec7 .header .imgBox {
  width: 26vw;
  padding: 2vw;
  border: 1px solid #000;
}

.sec7 .header .imgBox img {
  width: 100%;
  margin-bottom: 1vw;
}

.sec7 .header .imgBox p {
  text-align: center;
  padding-bottom: 1vw;
  border-bottom: 1px dotted #000;
}

.sec7 .header h1 {
  padding-top: 3vw;
  padding-bottom: 4vw;
  font-size: 10vw;
  text-align: center;
}

.sec7_1 {
  flex: 70%;
}

.sec7_2 {
  margin-left: 2vw;
  flex: 70%;
  height: 80vh;
}

.sec7_2 .conts img {
  margin-top: 2vw;
  width: 100%;
  border: 0;
}

.sec7_2 .conts h3 {
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 3vw;
}

.sec7_2 .conts p {
  line-height: 1.2;
}


/* section8 */
.container .sec8 {
  margin-top: 1vw;
  margin-bottom: 1vw;
  width: 100%;
  border-top: 1px dotted #000;
  border-bottom: 1px dotted #000;
  position: relative;
}

.container .sec8 h1 {
  font-size: 18vw;
  float: left;
}

.container .sec8 .btn3 img {
  border: 0;
  position: absolute;
  top: 1vw;
  right: 1.2vw;
}

.sec8_2 {
  border-top: 3px solid #000;
  width: 100%;
  height: 80vh;
}

/* section9 */
.sec9 {
  width: 100%;
  background-color: #000;
  position: relative;
  padding: 1vw 1vw;
}

.sec9 h1 {
  font-size: 16vw;
  color: #D8D1C8;
}

.sec9_2 {
  width: 100%;
  height: 1000px;
  border: 1px solid #000;
  display: flex;
justify-content: space-evenly;
align-items: center;
text-align: center;
  padding: 1vw;
}

.sec9_2 .left {
  width: 40vw;
  height: 1000px;
}

.sec9_2 .left .img3 {
  width: 100%;
}

.sec9_2 .left h2 {
  font-size: 2vw;
  padding: 2vw;
}
.sec9_2 .left .innerTxt {
  position: relative;
}
.sec9_2 .left .innerTxt h2::before {
  top: 0;
  left: 6vw;
  content: "";
  background-image: url(../img/contLin.png);
  position: absolute;
}
.sec9_2 .left h2::after {
  top: 0vw;
  right: 0vw;
  content: "";
  background-image: url(../img/contLine2.png);
  position: absolute;
}
.sec9_2 .left .innerTxt p {
  padding-top: 1vw;
  line-height: 1.6;
}
.sec9_2 .right {
  width: 40vw;
  height: 1000px;
  border: 1px solid #000;
  padding-left: 2vw;
  position: relative;
}
.sec9_2 .right img {
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 120%;

}


/* Responsive web design */