@font-face {
    font-family: 'Eros Romano';
    src: url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/ErosRomanoRegular.eot');
    src: url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/ErosRomanoRegular.eot?#iefix') format('embedded-opentype'),
        url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/ErosRomanoRegular.woff2') format('woff2'),
        url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/ErosRomanoRegular.woff') format('woff'),
        url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/ErosRomanoRegular.eotErosRomanoRegular.svg#ErosRomanoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ChosunSm';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.1/ChosunSm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chomsky';
    src: url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/Chomsky.woff') format('woff'),
        url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/Chomsky.svg#Chomsky') format('svg'),
        url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/Chomsky.eot'),
        url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/Chomsky.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Theramy';
    src: url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/TheramyRegular.eot');
    src: url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/TheramyRegular.eot?#iefix') format('embedded-opentype'),
        url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/TheramyRegular.woff2') format('woff2'),
        url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/TheramyRegular.woff') format('woff'),
        url('https://cherin0115.github.io/dothome21/portfolio/assets/fonts/TheramyRegular.svg#TheramyRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* layout */
body {
    background: #D8D1C8;
}

#contents {}

#section1 {}

#section2 {}

#section3 {}

#section4 {
    margin-top: 0.5%;
}

#section5 {}

#section6,
#section7,
#section8,
#section9,
#section10 {
    margin-top: 2%;
}

/* container */
.container {
    width: 90%;
    max-width: 1760px;
    margin: 0 auto;
}

.contInner {
    display: flex;
    justify-content: space-between;
}

/* line */
.lineRight,
.lineLeft,
.lineTop,
.lineBom {
    position: relative;
}

.lineRight::after {
    content: '';
    width: 1px;
    height: 100%;
    background: #000;
    position: absolute;
    right: -4%;
    top: 0;
}

.lineLeft::before {
    content: '';
    width: 1px;
    height: 100%;
    background: #000;
    position: absolute;
    left: -4%;
    top: 0;
}

.lineTop::before {
    content: '';
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    left: 0;
    top: -8%;
}

.lineBom::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: -8%;
}


/* btn */
.btn {
    border: 1px solid #3f3f3f;
    border-radius: 50%;
    height: 9.5vw;
    line-height: 2.5;
    font-size: 4vw;
    text-align: center;
    font-family: 'Theramy';
    background: #e9e9e95e;
}

/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 68px;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    box-sizing: border-box;
    background-color: #D8D1C8;
    z-index: 10000;
}

#header>div {
    flex: 0 0 10%;
}

#header>div.info {
    font-family: 'ChosunSm';
    font-size: 14px;
    line-height: 1.4;
}

#header>div.title {
    font-family: 'Chomsky';
    font-size: 25px;
    text-align: center;
    flex: 0 0 20%;
}

#header>div.ham {
    text-align: right;
}

#header>div.ham span {
    width: 20px;
    height: 2px;
    background: #000;
    display: inline-block;
    position: relative;
    top: -4px;
}

#header>div.ham span::after {
    content: '';
    width: 20px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    top: -6px;
}

#header>div.ham span::before {
    content: '';
    width: 20px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: -6px;
}

/* sec1 */
.sec1 {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.sec1>div {
    flex: 0 0 31%;
}

.sec1>div img {
    border: 1px solid #000;
}

.sec1>div h2 {
    font-family: 'Theramy';
    font-size: 80px;
    line-height: 1;
    text-align: center;
    margin-bottom: 10px;
}

.sec1>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sec1>div h3 {
    font-family: 'Theramy';
    font-size: 40px;
    line-height: 1;
    padding-top: 15px;
    padding-bottom: 5px;
}

.sec1>div p {
    font-family: 'ChosunSm';
    font-size: 16px;
}

/* sec2 */
.sec2 {
    margin-top: 2%;
}

.sec2 h1 {
    background: #000;
    color: #D8D1C8;
    font-size: 25vw;
    line-height: 0.87;
    font-family: 'Eros Romano';
    text-align: center;
}

.sec2 .contInner {
    margin-top: 2%;
}

.sec2>img {
    width: 100%;
}

.sec2 .contInner h2 {
    font-size: 5vw;
    font-family: 'Eros Romano';
    line-height: 0.8;
}

.aboutL {
    flex: 0 0 35;
    padding-right: 4.8%;
}

.aboutL h2 {
    padding-bottom: 5px;
}

.aboutL p {
    padding-top: 15px;
}

.aboutR {
    flex: 0 0 60%;

}

.aboutR h2 {
    padding-top: 15px;
    padding-bottom: 5px;
}


/* sec3 */
#section3 .container {
    padding-bottom: 2%;
    border-bottom: 2px solid #000;
}

.sec3 {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    height: 15vw;
}

.sec3 h1 {
    background: #000;
    color: #D8D1C8;
    font-size: 15vw;
    line-height: 1;
    font-family: 'Eros Romano';
    flex: 0 0 75%;
    text-align: center;
}

.sec3 .aboutImg {
    flex: 0 0 19%;
    width: 100%;
}

.sec3_2 {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.sec3_2 .about2 {
    flex: 0 0 58%;
}

.sec3_2 .about2 .aboutTit2 {
    flex: 0 0 48%;
    padding-right: 2%;
    text-align: justify;
}

.sec3_2 .about2 .aboutTit2 h2 {
    font-family: 'Eros Romano';
    font-size: 63px;
    line-height: 0.75;
    padding-bottom: 15px;
}

.sec3_2 .about2 .aboutImg2 {
    flex: 0 0 46%;
    width: 100%;
    height: 371px;
}

.sec3_2 .about2 .aboutImg2 img {
    height: 100%;
}

.sec3_2 .aboutTit3 {
    margin-top: 3%;
}

/* sec3_2 right */
.sec3_2 .about3 {
    flex: 0 0 38%;
    padding-left: 0.7%;
}

.sec3_2 .about3 h2 {
    font-size: 5.5vw;
    font-family: 'Eros Romano';
    line-height: 0.9;
    text-align: right;
    padding-bottom: 15px;
}

.sec3_2 .about3 p {
    margin-bottom: 15px;
    text-align: justify;
}


/* sec4 */

#section4 .container {
    margin-bottom: 1%;
}

.sec4 {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 2%;
}

.sec4 .sec4Img {
    width: 30vw;
    flex: 0 0 15%;
}

.sec4 h1 {
    flex: 0 0 80%;
    font-size: 18vw;
    text-align: right;
    line-height: 0.8;
    font-family: 'Eros Romano';
    position: absolute;
    bottom: 0;
    right: 0;
}

.sec4_2 {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #000;
    margin-top: 0.5%;
    padding-top: 2%;
    padding-bottom: 0.8%;
}

.sec4_2 p {
    text-align: justify;
}

.sec4_2 .ProjectL {
    flex: 0 0 48%;
    margin-right: 2%;
}

.sec4_2 .ProjectR {
    flex: 0 0 48%;
}

/* sec5 */
.sec5 h2 {
    font-size: 63px;
    font-family: 'Eros Romano';
    line-height: 0.8;
    padding-top: 15px;
    padding-bottom: 5px;
}

.sec5 .contInner .bildL {
    flex: 0 0 50%;
    padding-right: 2%;
    text-align: justify;
}

.sec5 .contInner .bildR {
    flex: 0 0 48%;
    text-align: justify;
}

/* sec6 */
#section6 .container,
#section7 .container,
#section8 .container,
#section9 .container {
    border-top: 1px solid #000;
}

.sec6 {
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
}

.sec6 .scriptL {
    flex: 0 0 60%;
}

.sec6 .scriptL img {
    position: absolute;
    height: 100%;
}

.sec6 .scriptR {
    flex: 0 0 35.5%;
}

.scriptR .contDetail .desc h2 {
    font-size: 63px;
    line-height: 0.75;
    font-family: 'Eros Romano';
    padding-bottom: 15px;
    text-align: justify;

}

.scriptR .contDetail .desc p {
    padding-bottom: 25px;
}

.scriptR .contDetail .box.style1 {
    border: 1px solid #000;
    background-color: #C9BDAD;
    padding: 10px;
    margin-bottom: 35px;
}

.scriptR .contDetail .box.style1 strong {
    font-weight: bold;
}

.scriptR .contDetail .box.style1 p {
    color: #7e492c;
}

.sec6 .scriptR .contDetail .boxCont {
    display: flex;
    justify-content: space-between;
}

.scriptR .boxCont .box.style2 {
    flex: 0 0 55%;
    border: 1px solid #000;
    position: relative;
    margin: 10px;
}

.scriptR .boxCont .box.style2::before {
    content: '';
    position: absolute;
    width: 106%;
    height: 109%;
    top: -11px;
    left: -12px;
    border: 2px solid #000;
}

.scriptR .boxCont .box.style2 .clickBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    width: 4vw;
}

.scriptR .boxCont .box.style2 h2 {
    font-family: 'Theramy';
    font-size: 3vw;
    line-height: 0.8;
    text-align: left;
    padding: 30px 0 0 20px;
}

.scriptR .boxCont .box.style2 h3 {
    font-family: 'ChosunSm';
    line-height: 1.3;
    font-size: 1.8vw;
    text-align: left;
    padding-left: 40px;
}

.scriptR .boxCont .box.style2 h4 {
    font-family: 'ChosunSm';
    line-height: 1.3;
    font-size: 1.8vw;
    text-align: left;
    padding-left: 50px;
}

.scriptR .boxCont .box.style2 p {
    font-size: 0.7vw;
    padding: 20px 0 10px 5px;
}

.scriptR .boxCont .box.style3 {
    flex: 0 0 35%;
    border: 1px solid #000000;
    margin: 10px;
    position: relative;
}

.scriptR .boxCont .box.style3::before {
    content: '';
    position: absolute;
    width: 110%;
    height: 109%;
    top: -11px;
    right: -12px;
    border: 2px solid #000;
}

.scriptR .boxCont .box.style3 h2 {
    font-family: 'Theramy';
    font-size: 2vw;
    line-height: 1.2;
    padding: 80px 0 0 10px;
}

.scriptR .boxCont .box.style3 img {
    border: none;
    position: absolute;
    overflow: hidden;
    top: -2.8vw;
    right: -1vw;
    width: 95%;
}


/* sec10 */
#section10 .container {
    border-top: 3px solid #000;
}

.sec10 {
    margin: 2% 0;
    border-top: 1px solid #000;
    display: flex;
    justify-content: space-between;
}

.sec10 .title h2 {
    font-size: 8vw;
    font-family: 'Eros Romano';
    border-bottom: 1px solid #000;
}

.sec10 .sideBar {
    width: 36.5%;
    margin-right: 1%;
    height: 100vh;
    position: sticky;
    top: 70px;
    align-items: center;
    text-align: center;
}

.sec10 .sideBar .imgBox {
    text-align: center;
    align-items: center;
    padding: 2vw 5vw 0 5vw;
    justify-content: space-around;
}

.sec10 .sideBar .imgBox img {
    width: 100%;
}

.sec10 .sideBar .imgBox p {
    padding-top: 5px;
}

.sec10 .sideBar h1 {
    font-family: 'Eros Romano';
    font-size: 8vw;
    line-height: 1;
    margin-bottom: 4vw;
}

.sec10 .sideBar .btn2 {
    border: 1px solid #000;
    padding: 3vw 9vw;
    border-radius: 50%;
    font-size: 3vw;
    font-family: 'Eros Romano';
}

.sec10 .cont {
    width: 60%;
    height: 480vh;
}

.sec10 .cont .scriptImg {
    padding: 2vw;
}

.sec10 .cont .scriptImg img {
    width: 100%;
}

.sec10 .cont h3 {
    font-size: 3vw;
    font-family: 'Eros Romano';
    line-height: 1;
    padding-top: 5px;
}

.sec10 .cont .scriptImg p {
    text-align: justify;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
}

.sec10 .cont .scriptImg p:last-child {
    border: none;
}



/* RESPONSIVE DEVICES */



@media (max-width: 1400px) {

    /* reset */
    p {
        font-size: 13px;
    }

    /* section1 */
    .sec1>div h3 {
        font-size: 32px;
    }

    .sec1>div h2 {
        font-size: 67px;
    }

    /* section3 */
    .sec3 h1 {
        flex: 0 0 73.5%;
    }

    /* section6 */
    .sec6 .scriptR .contDetail .box.style1 {
        display: none;
    }

    .sec6 .scriptR .contDetail .boxCont {
        height: 150px;
    }

    .scriptR .boxCont .box.style2 {
        border: none;
    }

    .sec6 .scriptR .boxCont .box.style2 h2 {
        font-size: 30px;
        padding: 20px 0 0 10px;
    }

    .scriptR .boxCont .box.style2 h3 {
        line-height: 1.2;
        font-size: 20px;
        padding-left: 20px;
    }

    .scriptR .boxCont .box.style2 h4 {
        font-size: 20px;
        padding-left: 30px;
    }

    .scriptR .boxCont .box.style2 p {
        padding: 5px 0;
    }

    .scriptR .boxCont .box.style3 {
        border: none;
    }

    .scriptR .boxCont .box.style3 h2 {
        font-size: 25px;
        padding: 40px 10px;
    }

    .scriptR .boxCont .box.style3 img {
        top: -17px;
        right: -8px;
        width: 80%;
    }

    /* section 10 */
    .sec10 .sideBar h1 {
        margin: 50px;
    }
}
@media (max-width: 1200px) {

}
@media (max-width: 960px) {

    /* header */
    #header>div.info {
        font-size: 12px;
    }

    #header>div.title {
        font-size: 20px;
    }

    .container {
        width: 96%;
    }

    .sec1 {
        flex-direction: column;
    }

    .sec1>div {
        flex: 0 0 100%;
    }

    .sec1>div:nth-child(1) {
        display: none;
    }

    .sec1>div p {
        margin-bottom: 10px;
    }

    .sec1>div:nth-child(2).lineRight::after {
        width: 0;
        height: 0;
    }

    .sec1>div:nth-child(2).lineRight::before {
        width: 0;
        height: 0;
    }

    /* section2 */
    .aboutL p {
        display: none;
    }

    .sec2 .contInner .aboutR h2 {
        display: none;
    }

    .sec2 .contInner p {
        padding-top: 15px;
    }

    /* section3 */
    .sec3 {
        display: block;
    }

    .sec3 h1 {
        width: 100%;
    }

    .aboutTit2 {
        display: none;
    }

    .aboutTit .lineRight::after {
        display: none;
    }

    .sec3 .aboutImg {
        display: none;
    }

    .sec3_2 .about2 .aboutImg2 {
        display: none;
    }

    .sec3_2 .about3 h2 {
        padding-bottom: 58px;
    }

    .sec3_2 .about3 p {
        display: none;
    }

    /* section4 */
    .sec4_2 {
        display: block;
    }

    .sec4_2 .ProjectL {
        margin-bottom: 10px;
    }

    /* section5 */
    .sec5 .contInner {
        display: block;
    }

    .sec5 .contInner .bildL {
        margin-bottom: 10px;
    }

    .sec5 h2 {
        font-size: 50px;
    }
}

@media (max-width: 800px) {}