@charset "UTF-8";
/* 에스코어 드림 */
@font-face {
  font-family: 'S-CoreDream';
  font-weight: 100;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  font-weight: 200;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  font-weight: 600;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  font-weight: 800;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream';
  font-weight: 900;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff") format("woff");
  font-style: normal;
}

/* 넥슨 폰트 */
@font-face {
  font-family: 'NEXONLv1Gothic';
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv1Gothic';
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv1Gothic';
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv2Gothic';
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv2Gothic';
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv2Gothic';
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff") format("woff");
  font-style: normal;
}

/* 지마켓 산스 폰트 */
@font-face {
  font-family: 'GmarketSans';
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 500;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-style: normal;
}

/* 나눔 스퀘어 폰트 */
@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url(NanumSquareR.eot);
  src: url(NanumSquareR.eot?#iefix) format("embedded-opentype"), url(NanumSquareR.woff) format("woff"), url(NanumSquareR.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  src: url(NanumSquareB.eot);
  src: url(NanumSquareB.eot?#iefix) format("embedded-opentype"), url(NanumSquareB.woff) format("woff"), url(NanumSquareB.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 800;
  src: url(NanumSquareEB.eot);
  src: url(NanumSquareEB.eot?#iefix) format("embedded-opentype"), url(NanumSquareEB.woff) format("woff"), url(NanumSquareEB.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 300;
  src: url(NanumSquareL.eot);
  src: url(NanumSquareL.eot?#iefix) format("embedded-opentype"), url(NanumSquareL.woff) format("woff"), url(NanumSquareL.ttf) format("truetype");
}

/* 여백 초기화 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

.iphone main {
  padding: 10px;
}

.android main {
  padding: 10px;
}

.bg {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.bg.blue::before {
  background: rgba(25, 0, 65, 0.493);
}

.bg1 {
  background-image: url(../img/bg1@2.jpg);
}

.bg2 {
  background-image: url(../img/bg2@2.jpg);
}

.bg3 {
  background-image: url(../img/bg3@2.jpg);
}

.bg4 {
  background-image: url(../img/bg4@2.jpg);
}

.bg5 {
  background-image: url(../img/bg5@2.jpg);
}

.bg6 {
  background-image: url(../img/bg6@2.jpg);
}

.bg7 {
  background-image: url(../img/bg7@2.jpg);
}

.bg8 {
  background-image: url(../img/bg8@2.jpg);
}

.bg9 {
  background-image: url(../img/bg9@2.jpg);
}

.bg10 {
  background-image: url(../img/bg10@2.jpg);
}

#main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #11e8bb;
  background: -webkit-gradient(linear, left top, left bottom, from(#11e8bb), to(#8200c9));
  background: linear-gradient(to bottom, #11e8bb 0%, #8200c9 100%);
}

#main.game {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff9a9e), color-stop(99%, #fecfef), to(#fecfef));
  background: linear-gradient(to bottom, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

#main.game h1 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #830088), to(#ff7eb4));
  background-image: linear-gradient(to bottom, #830088 30%, #ff7eb4);
}

#main.menu {
  background: -webkit-gradient(linear, left top, left bottom, from(#a18cd1), to(#fbc2eb));
  background: linear-gradient(to bottom, #a18cd1 0%, #fbc2eb 100%);
}

#main.menu h1 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #450086), to(#a466c5));
  background-image: linear-gradient(to bottom, #450086 30%, #a466c5);
}

#main.mouse {
  background: -webkit-gradient(linear, left top, left bottom, from(#a8edea), to(#fed6e3));
  background: linear-gradient(to bottom, #a8edea 0%, #fed6e3 100%);
}

#main.mouse h1 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #00be66), to(#ff77a0));
  background-image: linear-gradient(to bottom, #00be66 30%, #ff77a0);
}

#main.parallax {
  background: -webkit-gradient(linear, left top, left bottom, from(#9890e3), to(#b1f4cf));
  background: linear-gradient(to bottom, #9890e3 0%, #b1f4cf 100%);
}

#main.parallax h1 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #6e00ec), to(#00dd81));
  background-image: linear-gradient(to bottom, #6e00ec 30%, #00dd81);
}

#main.slider {
  background: -webkit-gradient(linear, left top, left bottom, from(#74ebd5), to(#9face6));
  background: linear-gradient(to bottom, #74ebd5 0%, #9face6 100%);
}

#main.slider h1 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #ffbe0b), to(#ff42ff));
  background-image: linear-gradient(to bottom, #ffbe0b 30%, #ff42ff);
}

#contents h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 10vw;
  white-space: nowrap;
  font-family: "Six Caps", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #0c0052), to(#8200c9));
  background-image: linear-gradient(to bottom, #0c0052 30%, #8200c9);
}

#nav {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: 10px;
  top: auto;
}

#nav li {
  list-style: none;
  display: inline;
}

#nav li a {
  color: #fff;
  text-decoration: none;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
  margin: 4px;
  font-family: "NEXONLv1Gothic";
  -webkit-box-shadow: inset 0 0 0 #fff;
          box-shadow: inset 0 0 0 #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#nav li a:hover {
  -webkit-box-shadow: inset 0 -100px 0 #fff;
          box-shadow: inset 0 -100px 0 #fff;
  color: #6c4a70;
}

.info {
  color: #fff;
  font-family: "NEXONLv1Gothic";
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
}

.info.right {
  left: auto;
  right: 0px;
}

.info.bottom {
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}

.info.left {
  top: auto;
  left: 0;
  bottom: 0;
}

.info h1 {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6;
  border-bottom: 1px dashed #fff;
  display: inline-block;
  margin-bottom: 10px;
}

.info h1 a {
  color: #fff;
  text-decoration: none;
}

.info p {
  font-weight: 300;
  font-size: 16px;
}

.info li {
  list-style: none;
  display: inline;
}

.info li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px dashed #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 5px;
}

.info li.active a {
  background: #fff;
  color: #000;
}

.info.list {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 20px;
  font-size: 12px;
  line-height: 1.8;
  border-radius: 10px;
  margin: 20px;
}

.info.list li {
  display: block;
}

.info button {
  background: transparent;
  border: 1px solid #fff;
  padding: 5px 20px;
  color: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 0 #fff inset;
          box-shadow: 0 0 0 #fff inset;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.info button:hover {
  -webkit-box-shadow: 0 -50px 0 #fff inset;
          box-shadow: 0 -50px 0 #fff inset;
  color: #000;
}

#modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#modal .modal-bg {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#modal .modal-bg .modal-cont h2 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 10px;
}

#modal .modal-bg .modal-cont p {
  font-weight: 300;
  line-height: 1.6;
}

#modal .modal-bg .modal-cont button {
  border: 1px solid #000;
  background: #000;
  border-radius: 20px;
  color: #fff;
  padding: 5px 10px;
  float: right;
  cursor: pointer;
  font-family: 'NEXONLv2Gothic';
  margin-top: 10px;
}

#modal.show {
  -webkit-transform: scaley(0.0005) scalex(1);
          transform: scaley(0.0005) scalex(1);
  -webkit-animation: unfoldIn 1s ease forwards;
          animation: unfoldIn 1s ease forwards;
}

#modal.show.hide {
  -webkit-animation: unfoldOut 1s ease forwards;
          animation: unfoldOut 1s ease forwards;
}

/* modal 클릭 애니메이션 태그*/
#paraModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#paraModal .modal-bg {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#paraModal .modal-bg .modal-cont h2 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 20px;
}

#paraModal .modal-bg .modal-cont p {
  font-family: 'NEXONLv2Gothic';
  font-weight: 300;
  line-height: 1.6;
}

#paraModal .modal-bg .modal-cont button {
  border: 1px solid #000;
  background: #000;
  border-radius: 20px;
  color: #fff;
  padding: 5px 10px;
  float: right;
  cursor: pointer;
}

#paraModel.show {
  -webkit-animation: unfoldIn 1s ease forwards;
          animation: unfoldIn 1s ease forwards;
}

#paraModel.show.hide {
  -webkit-animation: unfoldOut 1s ease forwards;
          animation: unfoldOut 1s ease forwards;
}

#paraModal.show .modal-bg .modal-cont {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: zoomIn 0.5s 0.8s ease forwards;
          animation: zoomIn 0.5s 0.8s ease forwards;
}

#paraModal.show.hide .modal-bg .modal-cont {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: zoomOut 0.5s ease forwards;
          animation: zoomOut 0.5s ease forwards;
}

@-webkit-keyframes unfoldIn {
  0% {
    -webkit-transform: scaley(0.005) scalex(0);
            transform: scaley(0.005) scalex(0);
  }
  50% {
    -webkit-transform: scaley(0.005) scalex(1);
            transform: scaley(0.005) scalex(1);
  }
  100% {
    -webkit-transform: scaley(1) scalex(1);
            transform: scaley(1) scalex(1);
  }
}

@keyframes unfoldIn {
  0% {
    -webkit-transform: scaley(0.005) scalex(0);
            transform: scaley(0.005) scalex(0);
  }
  50% {
    -webkit-transform: scaley(0.005) scalex(1);
            transform: scaley(0.005) scalex(1);
  }
  100% {
    -webkit-transform: scaley(1) scalex(1);
            transform: scaley(1) scalex(1);
  }
}

@-webkit-keyframes unfoldOut {
  0% {
    -webkit-transform: scaley(1) scalex(1);
            transform: scaley(1) scalex(1);
  }
  50% {
    -webkit-transform: scaley(0.005) scalex(1);
            transform: scaley(0.005) scalex(1);
  }
  100% {
    -webkit-transform: scaley(0.005) scalex(0);
            transform: scaley(0.005) scalex(0);
  }
}

@keyframes unfoldOut {
  0% {
    -webkit-transform: scaley(1) scalex(1);
            transform: scaley(1) scalex(1);
  }
  50% {
    -webkit-transform: scaley(0.005) scalex(1);
            transform: scaley(0.005) scalex(1);
  }
  100% {
    -webkit-transform: scaley(0.005) scalex(0);
            transform: scaley(0.005) scalex(0);
  }
}

#modal.show .modal-bg .modal-cont {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: zoomIn 0.5s 0.8s ease forwards;
          animation: zoomIn 0.5s 0.8s ease forwards;
}

#modal.show.hide .modal-bg .modal-cont {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: zoomOut 0.5s ease forwards;
          animation: zoomOut 0.5s ease forwards;
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.code-view {
  background: #fff;
  width: 60vw;
  border: 1px solid #978f8f;
  border-radius: 10px;
  overflow: hidden;
}

.code-view .view-header {
  border-bottom: 1px solid #f2f2f2;
}

.code-view .view-header .dot {
  padding: 13px 10px 10px 15px;
}

.code-view .view-header .dot span {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 2px;
}

.code-view .view-header .dot span:nth-child(1) {
  background-color: #f56565;
}

.code-view .view-header .dot span:nth-child(2) {
  background-color: #f6e05e;
}

.code-view .view-header .dot span:nth-child(3) {
  background-color: #48bb78;
}

.code-view .view-title {
  border-bottom: 1px solid #f2f2f2;
  padding: 0 11px;
}

.code-view .view-title li {
  display: inline;
  list-style: none;
}

.code-view .view-title li a {
  text-decoration: none;
  color: #ccc;
  padding: 10px 10px 12px;
  margin: 0 5px;
  display: inline-block;
}

.code-view .view-title li.active a {
  border-top: 2px solid #667eea;
  color: #4a5568;
}

.code-view .view-cont {
  height: 500px;
  overflow-y: scroll;
}

.code-view .view-cont > div {
  display: none;
}

.code-view .view-cont > div:nth-child(1) {
  display: block;
}

@media (max-width: 800px) {
  #contents h1 {
    font-size: 17vw;
  }
  #nav {
    position: absolute;
    left: 50%;
    top: 80%;
    font-size: 15vw;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #nav ul li a {
    font-size: 14px;
    width: 60px;
    height: 30px;
    line-height: 30px;
  }
  .info {
    padding: 8px;
  }
  .info h1 {
    font-size: 14px;
  }
  .info p {
    font-size: 12px;
  }
  .info.bottom {
    padding: 0px 10px 70px 0px;
  }
  .info li a {
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 10px;
  }
  #tab-menu {
    width: 80vw;
  }
  #tab-menu .tab-btn ul li {
    list-style: none;
  }
  #tab-menu .tab-btn ul li a {
    font-size: 14px;
    padding: 14px 10px 10px 10px;
  }
  #tab-menu .tab-cont h2 {
    font-size: 18px;
  }
  #tab-menu .tab-cont p {
    font-size: 14px;
  }
  .code-view {
    width: 80vw;
  }
  .code-view .view-header .dot {
    padding: 10px 8px 8px 13px;
  }
  .code-view .view-header .dot span {
    width: 9px;
    height: 9px;
  }
  .code-view .view-title {
    padding: 0 8px;
    font-size: 12px;
  }
  .code-view .view-title li a {
    padding: 8px 8px 10px;
  }
  .code-view .view-cont {
    font-size: 10px;
    height: 300px;
    border-radius: 10px;
  }
}

.parallax {
  background: #222;
  color: #fff;
  font-family: 'NEXONLv1Gothic';
}

.paraScroll {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  text-align: center;
  font-size: 12px;
  padding: 0px 20px;
}

.paraInfo2 {
  position: fixed;
  left: 20px;
  bottom: 70px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 20px;
  font-size: 12px;
  line-height: 1.8;
  border-radius: 10px;
  z-index: 1000;
}

.paraInfo2 li {
  list-style: none;
}

.paraNav {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  padding: 15px 20px;
  border-radius: 50px;
}

.paraNav li {
  display: inline-block;
  list-style: none;
}

.paraNav li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.paraNav li.active a {
  background: #fff;
  color: #000;
  border-radius: 50%;
}

.paraInfo {
  padding: 20px;
}

.paraInfo h1 {
  display: inline-block;
  font-size: 20px;
  border-bottom: 1px dashed #fff;
  margin-bottom: 8px;
  font-weight: 400;
}

.paraInfo h1 a {
  color: #fff;
  text-decoration: none;
}

.paraInfo p {
  font-size: 14px;
  line-height: 1.8;
}

.paraCont {
  width: 100%;
  overflow: hidden;
}

.paraCont .content-item {
  width: 1000px;
  max-width: 70vw;
  margin: 30vw 0;
  padding-top: 10vw;
  text-align: right;
  position: relative;
}

.paraCont .content-item .num {
  font-family: 'Lato';
  font-weight: 100;
  font-size: 25vw;
  opacity: 0.07;
  position: absolute;
  right: -5vw;
  top: -10vw;
}

.paraCont .content-item .title {
  padding-bottom: 10px;
  font-weight: 700;
}

.paraCont .content-item .img-Wrap {
  width: 100%;
  padding-bottom: 56%;
  background: #000;
  position: relative;
}

.paraCont .content-item .img-Wrap .img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: saturate(0);
          filter: saturate(0);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.paraCont .content-item .img-Wrap .img:hover {
  -webkit-filter: saturate(100%);
          filter: saturate(100%);
}

.paraCont .content-item .desc {
  font-size: 6vw;
  line-height: 1.4;
  margin-top: -6vw;
  margin-right: -3vw;
  position: relative;
  z-index: 100;
  word-break: keep-all;
}

.paraCont .content-item:nth-child(even) {
  margin-left: auto;
  text-align: left;
}

.paraCont .content-item:nth-child(even) .num {
  right: auto;
  left: -5vw;
}

.paraCont .content-item:nth-child(even) .desc {
  margin-right: auto;
  margin-left: -3vw;
}

.content-item:nth-child(1) .img {
  background-image: url(../img/bg1.jpg);
}

.content-item:nth-child(2) .img {
  background-image: url(../img/bg2.jpg);
}

.content-item:nth-child(3) .img {
  background-image: url(../img/bg3.jpg);
}

.content-item:nth-child(4) .img {
  background-image: url(../img/bg4.jpg);
}

.content-item:nth-child(5) .img {
  background-image: url(../img/bg5.jpg);
}

.content-item:nth-child(6) .img {
  background-image: url(../img/bg6.jpg);
}

.content-item:nth-child(7) .img {
  background-image: url(../img/bg7.jpg);
}

.content-item:nth-child(8) .img {
  background-image: url(../img/bg8.jpg);
}

.content-item:nth-child(9) .img {
  background-image: url(../img/bg9.jpg);
}

.paraFooter {
  padding: 200px 0;
}

.paraFooter h1 {
  font-size: 8vw;
  line-height: 1.2;
  padding: 10vw 8vw 0 8vw;
  text-transform: uppercase;
  margin-bottom: 3vw;
}

.paraFooter h1 em {
  display: block;
  font-family: 'Lato';
  font-weight: 100;
  padding-left: 18vw;
}

.paraFooter .FooterInfo {
  padding: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #000;
  padding: 15px 20px;
  margin-bottom: 2px;
}

.paraFooter .FooterInfo h2 {
  padding-right: 20px;
}

.paraFooter .FooterInfo li {
  list-style: none;
  display: inline-block;
}

.paraFooter .FooterInfo li a {
  color: #fff;
  border: 1px dashed #fff;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  line-height: 30px;
  text-decoration: none;
}

.paraFooter .FooterInfo li.active a {
  background: #fff;
  color: #000;
}
