//#mainCont

//#aboutCont
//#ReferCont
//#ScriptCont
//#portCont

//#mainCont

#mainCont {
    background-color: #F2D0B5;
    margin: 0 auto;
    height: 100vh;
    color: #E44F00;
    font-size: 5vw;
    line-height: .8;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-main;

    .container {
        max-width: 1520px;
        margin: 0 auto;
        width: 100%;
        height: auto;

        .contWrap {
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1;

            .img-wrap {
                p {
                    padding-top: 2px;
                    font-size: 1vw;
                }
            }

            .desc-wrap {
                padding-left: 30px;
                text-align: right;

                .descText {
                    img {
                        width: 10%;
                        float: left;
                    }

                    div {
                        font-size: 7vw;
                    }

                    div:last-child {
                        font-family: $font-kor1;
                        font-size: 7vw;
                        font-weight: normal;
                    }
                }

                .circle {
                    display: inline-block;
                    border-radius: 50%;
                    border: 2px solid #E44F00;
                    padding: 45px 25px;
                    transform: rotate(20deg);
                    font-size: 1.5vw;
                    letter-spacing: 0.2vw;

                    p {
                        transform: rotate(-20deg);
                    }
                }
            }
        }
    }
}

@media (max-width:800px) {
    #mainCont {
        
        margin: 0 auto;

        .container {
           
            height: 100vh;

            .contWrap {
                display: block;
                .img-wrap {
                    img {
                        width: 100%;
                    }

                    p {
                        padding-left: 10px;
                        font-size: 3vw;
                    }
                }

                .desc-wrap {
                    .descText {
                        padding-top: 10px;
                        padding-right: 10px;
                        div{
                            font-size: 9vw;
                            line-height: 1;
                        }
                        img {
                            top: 0;
                            left: 30;
                        }
                    }
                    .circle {
                        display: none;
                    }
                }
            }
        }
    }
}

// About me
#aboutMain {

    .container{
        width: 75vw;
        margin: 0 auto;

        .aboutTitle{
            font-family: $font-logo;
            font-size: 7vw;
            line-height: 1;
            color: #E44F00;
            text-transform: uppercase;
            padding: 260px 0;
        }
        .aboutCont{
            font-family: $font-kor1;
            margin-bottom: 370px;
            img{
                width: 100%;
            }
            .aboutTxt {
                h3{
                    padding-bottom: 35px;
                    font-size: 1.1vw;  
                }
                p {
                    font-size: 1.1vw;
                    text-align: justify;
                }
            }
            &.about1{
                img {
                    margin-bottom: 60px;
                }
                .aboutTxt {
                    width: 70%;
                    text-align: justify;
                }
            }
            &.about2 {
                overflow: hidden;

                img{
                    float: left;
                    width: 70%;
                }

                .aboutTxt {
                    float: left;
                    width: 27%;
                    margin-left: 3%;
                }
            }
            &.about3 {
                overflow: hidden;

                img{
                    float: right;
                    width: 57%;
                    margin-left: 3%;
                }
                .aboutTxt {
                    float: left;
                    width: 40%;
                }
            }
        }
    }
}
@media (max-width: 1100px) {
    #aboutMain {
        .container {
            width: 80vw;
            .aboutCont {
                font-family: "Chosunilbo_myungjo";
                margin-bottom: 320px;
    
                img {
                    width: 100%;
                }
    
                h3 {
                    padding-bottom: 32px;
                    font-size: 1.2vw;
                }
                p {
                    font-size: 1vw;
                }
            }
        }
    }
}
@media (max-width: 800px) {
    #aboutMain {
        .container {
            width: 95%;
            .aboutTitle {
                font-size: 13vw;
                text-align: center;
                padding: 200px 0;
            }
            .aboutCont {
                font-family: $font-kor1;
                margin-bottom: 200px;
                img {
                    width: 100%;
                }
                h3 {
                    padding-bottom: 20px;
                    font-size: 2.5vw;
                }
                p {
                    font-size: 2.2vw;
                }
                img {
                    margin-bottom: 320x;
                }
                
                &.about1 {
                    
                    img {
                        margin-bottom: 30px;
                    }
                }
                &.about2 {
                    img {
                        float: none;
                        width: 100%;
                        margin-bottom: 30px;
                    }
                    .aboutTxt {
                        float: none;
                        width: 100%;
                        margin-left: 0;
                    }
                }
                &.about3 {
                    
                    img {
                        float: none;
                        width: 100%;
                        margin-left: 0;
                        margin-bottom: 40px;
                    }
                    .aboutTxt {
                        float: none;
                        width: 100%;
                    }
                }
            }
        }
    }
}